body{
   background-image: url('images/background.jpg');
   background-size: contain;
   overflow: hidden;
}

button{
    display: block;
    font-size: 35px;
    margin: 50px;
    border-radius: 20px;
    padding-inline: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 3px;
    color: white;
}

img{
    margin: 0px 0px 250px 50px;
    float: left;
    padding-top: 40px;
}

.londrina-solid-regular {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}

#question{
    align-items: center;
    color: #403433;
    font-size: 65px;
}

#yes-btn{
    background-color: #EBC49F;
    margin-left: 810px;
}

#no-btn{
    background-color: #D37676;
    margin-left: 680px;
}

.question-input{
    margin-right: 30px;
}


