body {
    width: 400px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Timer display styles */
  #timer-display {
    font-size: 48px; /* Increased font size */
    margin: 20px 0; /* Add margin for spacing */
    text-align: center;
    width: 100%; /* Ensure it spans the full width */
    order: 1; /* Ensure it's at the top */
  }
  
  /* Styles for the number inputs */
  input[type="number"] {
    width: 60px; /* Adjust as needed */
    padding: 5px;
    margin: 0 5px;
    text-align: center;
  }
  
  /* Container for the input fields and set timer button */
  #time-input-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    order: 3; /* Positioning below the timer display */
  }
  
  /* Container for the buttons to ensure they're in the same row */
  #buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    order: 2; /* Positioning below the timer display and above input container */
  }
  
  button {
    padding: 10px 20px; /* Adjust padding for better visual */
    margin: 5px; /* Space out buttons */
    font-size: 16px; /* Increase font size for better visibility */
  }

  #settings-btn {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  